
* {
 font-family: Helvetica, Arial, sans-serif;
}

input{
  width: 100%;
  color:cadetblue
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  border: 1px solid rgb(228, 228, 228);
  align-content: center;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 5px;
  max-width: 300px;
  max-height: 400px;
}

.card p{
  text-align: center;
}

.card img{
  width: 100%;
  min-height: 300px;
}